<form
    #form="ngForm"
    (ngSubmit)="onSubmit(form)"
    class="d-flex flex-column gap-2"
>
  <div>
    <label
        for="userword"
        class="form-label"
    >Γράψτε μία λέξη:</label>
    <input
        type="text"
        name="userword"
        class="form-control"
        ngModel
        required
        #userword="ngModel"
    />
    <div class="text-danger" *ngIf="userword.invalid && userword.touched">
        Required field!
    </div>
  </div>
  <div>
    <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Submit</button>
  </div>
</form>
